{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p>{{ products.created }}</p><br>
    <p>{{ products.price }} $</p>
    <div class="card" style="width: 18rem;">
        <img src="{{ products.image.url }}" class="card-img-top col" alt="...">
    </div><br>
    <p>{{ products.description }}</p>
    <br>
        <form action="{% url 'orders:add_cart' products.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="add to cart">
        </form>

{% endblock %}