{% extends 'base.html' %}
{% block content %}
    <table class="table table-dark table-striped">

        <thead>
        <tr>
            <th scope="col">{{ forloop.counter }}</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Price</th>
            <th colspan="4"></th>
        </tr>
        </thead>
        <tbody>

        {% for cart in carts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'home:product_detail' product.slug %}">{{ cart.name }}</a></td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.Price }}</td>
                <td>{{ cart.Total_Price }}</td>
                <td><a href="{% url 'orders:delete_cart' product.id %}">remove</a></td>
            </tr>
        {% endfor %}
        <br>
        <tr>
            <td>Total price</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ carts.get_total_price }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
{% endblock %}